/* syntax for css
selector { what: how } */
h1 {
    color: red;
    background-color: blue;
    text-align: center;
}

.link {
    margin-right: 20px;
}

body {
    background-color: yellow;

}

img {
    width: 25%;
}

#merch {
    background-color: blanchedalmond;
}

.header {
    background-color: blue;
}

h3 {
    background-color: red;
}

nav {
    width: 500px;
}